---
import { ArrowRightIcon } from 'astro-feather';

export type Props = {
	href: string;
	title: string;
	description: string;
};

const { href, title, description } = Astro.props;
---

<a href={href} class="group block border-2 rounded-sm p-2 transition-all text-gray-500 hover:text-swup-purple hover:bg-gray-100">
	<strong class="flex gap-1 items-center text-black group-hover:text-swup-purple">
		{title}
		<span class="transition-transform group-hover:translate-x-0.5">
			<ArrowRightIcon size={22} />
		</span>
	</strong>
	<span class="text-sm leading-0">{description}</span>
</a>
