---
import '../styles/global.css';

import { ArrowLeftIcon } from 'astro-feather';

import Head from '../components/Head.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title?: string;
	description?: string;
	isFrontPage?: boolean;
	noindex?: boolean;
	intro?: string;
}
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const { title, description, noindex, isFrontPage, intro } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head
		title={title ? `${title} - ${SITE_TITLE}` : SITE_TITLE}
		description={description ?? SITE_DESCRIPTION}
		noindex={noindex}
	/>
	<body>
		<div id="swup">
			<header>
				<h1 class="site-title">{SITE_TITLE}</h1>
				<slot name="after-header" />
				<nav>
					<ul class="navlist">
						{
							!isFrontPage && (
								<li class="navlist_item">
									<a class="button" href="/">
										<ArrowLeftIcon />
										<span>Back</span>
									</a>
								</li>
							)
						}
					</ul>
				</nav>
			</header>
			<slot />
			<Footer />
		</div>

		<script>
			import Swup from 'swup';
			import ScrollPlugin from '../../../../../src/index.js';
			const swup = new Swup({
				plugins: [new ScrollPlugin()]
			});
			console.log(swup);
		</script>
	</body>
</html>
