---
import '../styles/global.css';

interface Props {
	title?: string;
	description?: string;
	isFrontPage?: boolean;
	noindex?: boolean;
	intro?: string;
}

import Head from '../components/Head.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Header from '../components/Header.astro';

const { title, description, noindex, isFrontPage, intro } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head
		title={title ? `${title} - ${SITE_TITLE}` : SITE_TITLE}
		description={description ?? SITE_DESCRIPTION}
		noindex={noindex}
	/>
	<body>
		<Header />
		<div id="swup" class="max-w-4xl mx-auto p-4 py-20">
			<header class="mb-8">
				<h1 class="is-h1">{SITE_TITLE}</h1>
				<slot name="after-header" />
			</header>

			<slot />

			<Footer />
		</div>

		<script>
			import Swup from 'swup';
			import ScrollPlugin from '../../../../../src/index.js';
			const swup = new Swup({
				plugins: [
					new ScrollPlugin({
						markScrollTarget: true
					})
				]
			});
		</script>
	</body>
</html>
