---
import Tiles from "./Tiles.astro";
---
<div class="w-full overflow-x-auto border --horizontal" data-testid="first-horizontal">
  <Tiles amount={20} direction="horizontal" uniqueid="first-horizontal" />
</div>
