---
import Tiles from "./Tiles.astro";
---
<div class="border-2 rounded-sm w-full overflow-x-auto --horizontal" data-testid="first-horizontal">
  <Tiles amount={20} direction="horizontal" uniqueid="first-horizontal" />
</div>
