---
import Tiles from "./Tiles.astro";
---
<div class="border-2 rounded-sm w-full overflow-x-auto --horizontal" data-testid="horizontal">
  <Tiles amount={50} direction="horizontal" uniqueid="horizontal" />
</div>
