---
import Tiles from "./Tiles.astro";
---

<div class="border-2 rounded-sm overflow-y-auto h-50 w-full --vertical" data-testid="vertical">
  <Tiles amount={100} direction="vertical" uniqueid="vertical" />
</div>
