@import "tailwindcss";

:root {
  --saturation: 100%;
  --lightness: 80%;
  font-size: clamp(20px, 2vw, 20px);
}
@theme {
  --color-swup-purple: #27276E;
}
h2 {
  @apply font-bold mb-1;
}

[data-swup-scroll-target] {
  @apply outline-purple-600 outline-2 rounded-sm -outline-offset-4;
}

/* a {
  @apply text-gray-400 hover:text-black;
  .feather {
    @apply relative transition-transform;
  }
  &:hover .feather {
    @apply translate-x-1;
  }
} */

